body{
    color: black !important;
    font-family: var(--bs-font-sans-serif) !important;
    background-image: url("../images/back.jpg")  !important;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.text1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: rgb(22, 92, 172);
    
}
.text2{
    font-family:monospace;
    font-size: 24px;
    font-weight: 100;
    color: rgb(10, 40, 75);
}
